# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# dotenv
.env

# VS Code
.vscode/

# macOS system files
.DS_Store

# Docker artifacts
*.log
*.pid

# Byte-compiled / compiled files
*.so

# Node (если вдруг npm был запущен)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Pytest
.pytest_cache/
htmlcov/
.coverage

# mypy
.mypy_cache/
.dmypy.json
